<header>
  <nav>
    <% if user_signed_in? %>
      <strong><%= link_to current_user.email %></strong>
      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'サインアップ', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
    <% end %>
  </nav>
</header>

<p id="notice"><%= notice %></p>

<h1>Advent Calendar ∞</h1>

<%= link_to 'New Blog', new_blog_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date %>

  <% blogs.each do |blog| %>
    <div>
      <%= blog.user.user_name %> <br>
      <%= link_to blog.title, blog.pagelink %>
    </div>
  <% end %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Title<th>
      <th>User<th>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.start_time %></td>
        <td><%= blog.title %></td>
        <td><%= blog.user.user_name %></td>
        <td><%= link_to blog.pagelink, blog.pagelink %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
